# N8N Core
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
N8N_HOST=localhost
N8N_PORT=5555
N8N_PROTOCOL=http
NODE_ENV=development
GENERIC_TIMEZONE=Asia/Jakarta
TZ=Asia/Jakarta
N8N_SECURE_COOKIE=false

# Telegram / Webhook Public URL
WEBHOOK_URL= xxxxxxxxxxxxxxxx
